<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317679519549-kra213ckfpkf467n92479j1jgr9l4lu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317679519549-kra213ckfpkf467n92479j1jgr9l4lu7</string>
	<key>API_KEY</key>
	<string>AIzaSyAjUutI_eZNREl3LWNayo8u7FDr1B-dwJI</string>
	<key>GCM_SENDER_ID</key>
	<string>317679519549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geroschmidt.Networking-Firebase</string>
	<key>PROJECT_ID</key>
	<string>networkingfirebase-d7c98</string>
	<key>STORAGE_BUCKET</key>
	<string>networkingfirebase-d7c98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:317679519549:ios:b19cdd696bc283b6412754</string>
</dict>
</plist>
